@model ReceptionApp.Web.ViewModels.Recipes.AddFromGotvqViewModel
@{
    this.ViewData["Title"] = "Add new recipe from gotvq.com";
}
<h1 class="col-md-6 offset-md-3">Add new Recipe</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="recipeUrl"></label>
        <input asp-for="recipeUrl" class="form-control" />
        <span asp-validation-for="recipeUrl" class="text-danger"></span>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" />
</form>
