<h1 class="text-center">The recipe is not in the right format</h1>
<div>
    <img src="https://th.bing.com/th/id/OIP.Civmhd8OJZhoNo_9pTcUrQHaE8?w=233&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" width="1200" height="600" class="align-middle">
</div>