@model FileManagerApp.Web.ViewModels.StreamInfoViewModel

@{
    this.ViewData["Title"] = "File details";
}

<h1>This is only for showing that GetAsync method is used and it gives some currently looking file!</h1>
<h2>@Model.FileName</h2>
